extends layout

block layout-content
  div.View
    h1.Title Expense Tracker
    //- h3 A backend project
    div.forms
      //- form#testConnection-form(action="/sequelize/authenticate", method="POST")
      //-   button(type="submit" name="Authenticate") Authenticate PostGreSQL Connection
      form#login-form(action="/users/handleLogin", method="POST")
        //- p Sign in as guest to see sample data
        //- button(type="submit" name="submit" value="guest") Sign In As Guest
        p Log In or Register
        div
          div Username: 
            input(type="text", name="username")
          div Password: 
            input(type="password", name="password")
        div
          button(type="submit" name="submit" value="login") Login
          button(type="submit" name="submit" value="register") Register
        p.Error #{error}
