extends layout

block layout-content
  div.View
    h1.Title Create a new expense

    div
      form#newExpense-form(action="/expenses/createNewExpense", method="POST")
        div.new-expense-input  
          div Transaction Date: 
          input(type="date", name="transaction_date")
        div.new-expense-input  
          div Merchant: 
          input(type="text", name="merchant")
        div.new-expense-input
          div Amount: 
          input(type="number", step=".01", name="amount")
        //- div.new-expense-input
          div Description: 
          input(type="text", name="description")
        div.new-expense-input  
          div Category: 
          input(type="text", name="category")
        div.new-expense-input  
          div Account Charged:
          input(type="text", name="charged_account_name")
        //- div.new-expense-input  
          div Notes: 
          input(type="text", name="notes")
        div
          button(type="submit") Submit
    div
      form#goHome-form(action="/home", method="GET")
        button(type="submit") Cancel