extends layout

block layout-content
  div.View
    h1.Title Welcome #{username}!
    //- p user_id: #{user_id}

    div.expense-view
      h3 Expenses
      form#testExpense-form(action="/new-expense-form", method="GET")
        button(type="submit") New Expense
      form#testExpense-form(action="/expenses/createSampleExpenses", method="POST")
        button(type="submit" name="numToCreate" value=1) Generate Sample Entry
      if entries
        include expense-table.pug

    div.account-settings 
      h3 Account Settings
      div
        form#signoutUser-form(action="/", method="GET")
          button(type="submit") Sign Out
      div
        form#deleteUser-form(action="/users/deleteUser", method="POST")
          button(type="submit") Delete Account